/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --blue:#4617fe;
  --white:#fff;
  --black:#000;
  --whb:#dcd3ff
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  outline: 0;
  padding: 0 ;
  box-sizing: border-box;
}

/* nav area........................................................................ */

header {
background-color:var(--blue);
display:flex;
justify-content:space-between;
height: 50vh;
padding:1rem 3rem;
/* position: relative; */
}
nav {
  display:flex;
  justify-content: flex-end;
  order: 2;
  
}
 nav a, svg {
  color: #dcd3ff;
  margin: 1rem;
}
.nav-item-active { 
  display:block;
  background: var(--white);
  color:#b6a4fe;
  padding-top:8px;
  text-align:center;
  border-radius: 4px;
  width: 115px;
  height:40px;
  font-weight:bold;
  margin-top:8px;
  
 }
 
 .mybar {

display: none;

 }

nav svg {
  width: 70px;
  height: 20px;
}
.header-image {
  position: absolute;
  right: 0;
  height: 500px;
  width: 600px;
  top:110px;
}

.header-text {
  position: absolute;
  top: 10rem;
}
.header-text h2 {
  font-size:2.6rem;
  color: var(--white);
  font-weight:550;
}

.header-text p {
  color: var(--white);
  font-size: 18px;
}


@media only screen and (max-width:1230px) {
 .header-image {
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    width:300px;
    height: 300px;
    top:130px;
  }
  header {
    z-index: 3;
    opacity: 0.5;

  }
  nav {
    display:flex;
    justify-content: flex-end;
    order: 2;
    overflow-x: scroll;
  }
} 

@media only screen and (max-width:900px) {
.mybar {
  display:block;
  width: 60px;
  height:60px;

}
nav {
  display:none;
}
}

@media only screen and (max-width:600px) {
  .header-text {
    position: absolute;
    top: 10rem;
  }
  .header-text h2 {
    font-size:1.3rem;
    color: var(--white);
    font-weight:550;
  }
  
  .header-text p {
    color: var(--white);
    font-size: 15px;
  }

  header {
    background-color:var(--blue);
    display:flex;
    justify-content:space-between;
    height: 50vh;
    padding:1rem 1.3rem;
    /* position: relative; */
    }

    .logo {
      width: 60px;
      margin-top:1rem;
    }
    

  
}


/* companies area ....................................................................... */
.companies {
  display:flex;
  justify-content:flex-start;
  width: 100%;
  background-color:#f8f8fa;
  align-items:start;
  gap:1rem;

}
.companies a {
  text-decoration: none;
  color:var(--black);
  font-weight: bold;
  font-size:22px;
  padding: 30px;
}

@media only screen and (max-width:600px) {
  .companies a {
    text-decoration: none;
    color:var(--black);
    font-weight: bold;
    font-size:15px;
    padding: 30px 0 0 10px;
  } 
  .companies {
    display:flex;
    justify-content:flex-start;
    width: 100%;
    background-color:#f8f8fa;
    align-items:start;
    gap:1rem;
  
  }
}





/* api .............................................area */
.api {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  gap: 6rem;
  background-color:#f8f8fa;
  padding-bottom:2rem;
 }
.card-next {
  align-items:center;
  display: flex;
  justify-content:flex-end;
  align-items:center;
  width: 140px;
  align-items:center; 
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  gap:2rem;
  padding-left:8rem;
}
.icon-box {
  background-color: var(--blue);
  border-radius:50%;
  padding:2rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items:center;
  align-items: center;
}
.i-next {
  color: #ffff;
}
.api-heading {
  font-size:2.1rem;
  font-weight:bold;
  padding-left:7rem;
  padding-top: 6rem;
}

.card-active, .card:hover  {
  padding: 1rem 1rem;
  background-color:var(--white);
  height:14rem;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card {
  padding: 1rem 1rem;
  background-color:#f8f8fa;
  height:14rem;
}
.card-active h3 {
  color: var(--blue);
}


@media only screen and (max-width: 1150px)  {

  .api {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 6rem;
    background-color:#f8f8fa;
    padding-bottom:2rem;
   }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap:2rem;
    padding-left:0rem;
    margin: 0 auto;
  }

  .api-heading {
    font-size:2.1rem;
    font-weight:bold;
    padding-left:4rem;
    padding-top: 6rem;
  }

  .card {
    padding: 1rem 1rem;
    background-color:#f8f8fa;
    height:16rem;
  }

}




/* blog area ......................................*/

.blog-heading { 
 max-width: 1700px; 
 margin: 0 auto;
 padding-left: 2rem;
}

.blog-cards { 
  max-width:1380px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}


.blog-content {
  margin-top: 20px;
}
.blog-card {
  background-color: #FFFFFF;
  display:flex;
  height: 288px;
  gap: 3rem;
  margin: 4rem auto;
  box-shadow: 10px 10px 10px 6px rgba(0,0,0,.04);
  position: relative;
}
 .blog-card-bottom-image {
  position: absolute;
  bottom: 0;
  right:12rem;
  top: 16rem;
 }

.blog-image {
  display: inline-block;
}
 div.blog-author {
position: absolute;
bottom: 0;
right: 30px;

}



 
@media only screen and (max-width: 555px)  {
  .blog-heading { 
    max-width: 1700px; 
    margin: 0 auto;
    padding-left: 2rem;
   }
   
   .blog-cards { 
     max-width:1380px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     height: auto;
   }
   
   
   .blog-content {
     margin-top: 20px;
     padding-left: 20px;
   }
   .blog-card {
     background-color: #FFFFFF;
     display:flex;
     height: 600px;
     gap: 1rem;
     flex-direction: column;
     margin: 4rem auto;
     box-shadow: 10px 10px 10px 6px rgba(0,0,0,.04);
     position: relative;
   }
    .blog-card-bottom-image {
     position: absolute;
     bottom: 0;
     right:12rem;
     top: 35rem;
    }
   
   .blog-image {
     display: inline-block;
   }
    div.blog-author {
   position: absolute;
   bottom: 0;
   right: 30px;
   
   }
   
  
} 



/* faq area........................................ .......................................*/
.faq-section {
  display: flex;
  justify-content:space-between;
  padding:2rem 0 0 6rem;
  background-color: var(--whb);
}

.faq-section .faq-image {
  align-self: flex-end;
  display: flex;
  position: absolute;
  right: 0;
  height: 400px;
 }

 .faq-section {
  height:400px;
 }

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
justify-content: flex-start;
/* height:100px; */
}
.faq-content h2 {
font-weight: bold;
font-size:2rem;
font-family: 'Poppins';
}
.faq-content .hf  {
  color:rgb(112, 112, 112);
  /* font-size: 1.5rem; */
  font-weight: normal
}

.faq-content button {
  padding:1rem 2rem;
  border: none;
  color: var(--white);
  background-color: var(--blue);
  width: 150px;
  border-radius: 3px;
  gap: 3rem;
}


@media only screen and (max-width: 1420px)  {

.faq-section .faq-content {
z-index: 3;
}
.faq-section .faq-image {
    z-index: 1;
     opacity: 0.1;
}
  .faq-section {
    display: flex;
    justify-content:space-between;
    padding:1rem 0 0 2rem;
    background-color: var(--whb);
  }
}

/* downlod area ..............................................*/
.download-section {
  display: flex;
  justify-content:space-between;
  align-items:center;
  height: 300px;
  width: 100%;
  gap: 4rem;
  padding:3em 1rem 8rem 6rem;
  /* background: #000; */

flex-wrap: wrap;
}
.download-content span {
font-weight: 300;
}

.download-email input {
  outline:none;
  border: none;
  border-radius:25px;
  background-color:var(--whb);
  padding: 1rem 14rem 1rem  3rem;
  width: 30rem;
  /* display: flex; */
}
.download-email button {
border: none;
border-radius:25px;
padding: .7rem 3rem;
background-color: var(--blue);
color: var(--white);
position:relative;
z-index: 1;
right: 11rem;
}

@media only screen and (max-width: 800px) {


  .download-section {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    max-width: 300px;
    margin: 0 auto;
    height: 300px;
    width: 100%;
    gap: 4rem;
    padding:1rem 1rem 1rem 1rem;
  flex-wrap: wrap;
  }

  
  .download-email input {
    outline:none;
    border: none;
    border-radius:25px;
    background-color:var(--whb);
    padding: 1rem 14rem 1rem  3rem;
    width: 30rem;
    /* display: flex; */
  }
  .download-email button {
  border: none;
  border-radius:25px;
  padding: .4rem 2rem;
  background-color: var(--blue);
  color: var(--white);
  position:relative;
  z-index: 1;
  right: 0;
  left: 21rem;
  bottom: 2.6rem;
  }
  
}

@media only screen and (max-width: 500px) {
  .download-section {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    max-width: 250px;
    margin: 0 auto;
    height: 300px;
    width: 100%;
    gap: 4rem;
    padding:1rem 1rem 1rem 1rem;
  flex-wrap: wrap;
  }

  
  .download-email input {
    outline:none;
    border: none;
    border-radius:25px;
    background-color:var(--whb);
    padding: 1rem 14rem 1rem  3rem;
    width: 10rem;
    /* display: flex; */
  }
  .download-email button {
  border: none;
  border-radius:25px;
  padding: .4rem 1rem;
  background-color: var(--blue);
  color: var(--white);
  position:relative;
  z-index: 1;
  right: 0;
  left: 10rem;
  bottom: 2.6rem;
  }
  
}

/* footer area ....................................*/

.footer-section {
  display: flex;
  justify-content:space-between;
  background-color:var(--blue);
  height:300px;
  align-items:center;
  padding: 0 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  flex-direction:column;
}
.footer-logo {
  width: 80px;
  height: 30px;
  margin-left:20px;
}

.footer-left .list {
display: flex;
}

.footer-right {
  display: flex;
  flex-direction:column;
  
}
.footer-logos {
width:50px;
height:45px;
padding:6px;
}
.logos-list {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  justify-content:space-around;

}
.list-items  {
  list-style-type:none;
  padding:1rem;
  color:var(--white);
}

.footer-section .footer-left .list .list-items ~ .list-items:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #FFFFFF;
}



@media only screen and (max-width: 570px) {

  .logos-list {
    display: flex;
    flex-direction: row;
    gap:2px;
    align-items: center;
    justify-content:space-around;
     flex-wrap: wrap;
  }
  .list-items  {
  list-style-type:none;
  padding:.4rem;
  color:var(--white);
  font-size: 10px;
}

} 









